{% extends "employees_catalog/base.html" %}
{% block title %} Подробная информация по всем сотрудникам {% endblock %}
{% block content %}
{% include 'employees_catalog/login-out_buttoms.html' %}
{% include 'employees_catalog/to_welcome.html'  %}
<div class="buttom-container">
   <form  method="get" class="form-inline mb-2">
      <input type="text" name="search_query" class="form-control mr-sm-2" placeholder="Поиск...">
      <button class="btn btn-outline-primary" type="submit" class="btn btn-outline-success my-2 my-sm-0">Поиск</button>
   </form>
   </div>
<div class="table-container">
   <table class="table">
      <thead>
         <tr>
            <th scope="col"><a class="link__column" href="?order_by=name{% if request.GET.order_by == 'name' and request.GET.order_direction != 'desc' %}&order_direction=desc{% endif %}">Имя</a></th>
            <th scope="col"><a class="link__column" href="?order_by=position{% if request.GET.order_by == 'position' and request.GET.order_direction != 'desc' %}&order_direction=desc{% endif %}">Должность</a></th>
            <th scope="col"><a class="link__column" href="?order_by=hire_date{% if request.GET.order_by == 'hire_date' and request.GET.order_direction != 'desc' %}&order_direction=desc{% endif %}">Дата приема на работу</a></th>
            <th scope="col"><a class="link__column" href="?order_by=salary{% if request.GET.order_by == 'salary' and request.GET.order_direction != 'desc' %}&order_direction=desc{% endif %}">Заработная плата</a></th>
            <th scope="col">Фото сотрудника</th>
         </tr>
      </thead>
      <tbody>
         {% for employee in employees %}
         <tr>
            <td> <a href= "{% url 'emp_detail' employee.id %}" >{{employee.name}} </a></td>
            <td> {{employee.position}} </td>
            <td> {{employee.hire_date}} </td>
            <td> {{employee.salary}} </td>
            <td> <img class="employee-picture minimized" src="{{ employee.picture.url }}"  alt="Фото сотрудника"> </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>


{% endblock %}