ul {
    list-style-type: circle;
}

tr {
    text-align: center;
    color: black;
}

.col-link {
    color: black;
    text-decoration: underline;
}

#search-buttom {
    color: black;
    border-color: black;
}

#search-buttom:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.welcome-container__link {
    color: black;
    text-decoration: underline;
    list-style-type: none;
}

.employee-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.minimized {
    width: 100px;
    height: 100px;
}